PORT=5000
NODE_ENV=development
MONGODB_URI=mongodb://localhost:27017/solwizards
CLIENT_URL=http://localhost:3000
SOLANA_NETWORK=devnet
SOLANA_RPC_URL=https://api.devnet.solana.com
BACKEND_KEYPAIR=
SEED_ON_START=true
